  <div class="mb-3">
    <input class="form-control" type="text" placeholder="custID" value="{{this.custID}}" aria-label="default input example" name="custID">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="custName" value="{{this.custName}}" aria-label="default input example" name="custName">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="zip" value="{{this.zip}}" aria-label="default input example" name="zip">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="city" value="{{this.city}}" aria-label="default input example" name="city">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="state" value="{{this.state}}" aria-label="default input example" name="state">
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>